<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>DETALLE</title>
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <%- include('../partials/header', {user: locals.user ? user : {}}) %>
    </header>
    <main>
        <section class="section-descripcion-detalle">
            <article class="contenedor-producto-detalle">

                <h2 class="titulo-producto-detalle">
                    <%= product.title %> <a class="anadir-producto-detalle"><i class="fa-regular fa-heart"
                                style="color: #d87645;"></i></a>
                </h2>

                <div class="image-container-detalle">
                    <img src="/images/fotosProducto/<%= product.image%>" alt="">
                </div>


                <div class="descripcion-producto-detalle" id="descripcion-detalle-movile">
                    <h3 class="description-text">
                        <%= product.description %>
                    </h3>
                    <h4>Genero: <%= product.genre %>
                    </h4>
                    <h4>Talla: <%= product.size %>
                    </h4>
                    <h4 id="price-detalle">Precio: $<%= product.price %>
                    </h4>
                </div>
            </article>

            <div class="btn-desc">
                <div class="descripcion-producto-detalle" id="descripcion-detalle-desktop">
                    <h3 class="description-text">
                        <%= product.description %>
                    </h3>
                    <h4>Genero: <%= product.genre %>
                    </h4>
                    <h4>Talla: <%= product.size %>
                    </h4>
                    <h4 id="price-detalle">Precio: $<%= product.price %>
                    </h4>
                </div>

                <div class="botones-detalle" id="product-container">
                    <article class="article-botones-detalle agregar-carrito-producto" id="<%= product.id %>">

                        <a href="/products/<%= product.id %>/detalle" class="link-productlist" hidden>
                            <img src="/images/fotosProducto/<%= product.image %>" alt="" class="product-img" hidden>
                        </a>
                        <h2 class="product-title" hidden>
                            <%= product.title %>
                        </h2>
                        <span class="price" hidden>$<%= product.price %></span>

                        <% if ((locals.user && user.id)!==product.id_user) { %>

                            <p style="padding: 0px; margin: 0px;">
                                <button class="add-to-cart" data-id="<%= product.id %>">
                                    Agregar al carrito
                                </button>
                            </p>
                            <form action="#" method="">
                                <button type="submit">Comprar ahora</button>
                            </form>
                            <% } %>
                    </article>

                    <article class="article-botones-detalle">
                        <% if ((locals.user && user.id)===product.id_user || user.type==="Admin" ) { %>
                            <a href="/products/<%=product.id%>/editar">Editar producto</a>

                            <form action="/products/<%= product.id %>/delete?_method=DELETE" method="POST">
                                <button type="submit" id="borrar-producto">Borrar producto</button>
                            </form>
                            <% } %>
                    </article>
                </div>
            </div>
        </section>
        <%- include('../partials/vender.ejs') %>
    </main>
    <%- include('../partials/footer.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <script src="/js/app.js"></script>
        <script src="/js/cartHeader.js"></script>
</body>

</html>