<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

	<header class="main-header">
        <%- include('../partials/header-users') %>
    </header>

	<main class="main-signin">

	<div class="container-signin">
		<form action="/user/signin" method="POST" class="form-signin" enctype="multipart/form-data">
			<div class="fullname-signin">
				<label>Nombre Completo:</label>
  				<input type="text" name="fullname" class="control-signin" value="<%= locals.old && old.fullname ? old.fullname : '' %>">
				  <% if (locals.errors) { %>
					<% errors.forEach(el => { %>
						<p class="msg-error-signin"><%= el.path == 'fullname' ? el.msg : '' %></p>
						<% }) %>
				<% } %>
			</div>
			<div class="email-signin">
				<label>Email:</label>
  				<input type="mail" name="email" class="control-signin" value="<%= locals.old && old.email ? old.email : '' %>">
				  <% if (locals.errors) { %>
					<% errors.forEach(el => { %>
						<p class="msg-error-signin"><%= el.path == 'email' ? el.msg : '' %></p>
						<% }) %>
				<% } %>
			</div>
			<div class="username-signin">
				<label>Apodo:</label>
  				<input type="text" name="username" class="control-signin" value="<%= locals.old && old.username ? old.username : '' %>">
				  <% if (locals.errors) { %>
					<% errors.forEach(el => { %>
						<p class="msg-error-signin"><%= el.path == 'username' ? el.msg : '' %></p>
						<% }) %>
				<% } %>
			</div>
			<div class="username-signin">
				<label>Imagen de perfil:</label>
  				<input type="file" name="userImg" class="control-signin">
				  <% if (locals.img === '') { %>
						<p class="msg-error-signin">Ingresa una imagen válida</p>
				<% } %>
			</div>
			<div class="password-signin">
				<label>Contraseña:</label>
  				<input type="password" name="password" class="control-signin">
				  <% if (locals.errors) { %>
					<% errors.forEach(el => { %>
						<p class="msg-error-signin"><%= el.path == 'password' ? el.msg : '' %></p>
						<% }) %>
				<% } %>
			</div>
			<div class="account-signin">
				<p> Ya tienes una cuenta? <a href="/login">Entra aqui!</a> </p>	
				<input type="submit" value="Registrarse" class="button-signin">
			</div>

		</form>
	</div>
	</main>

	<footer>
	<%- include('../partials/footer.ejs') %>
    </footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>