<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>User list</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('../partials/header-users.ejs') %>
    </header>

    <main class="main-userlist">
        <% users.forEach(el => { %>
            <% if (el.delete === 0) { %>
                <ul class="lista-usuarios-userlist">
                   <li><img src="/images/fotosUsuario/<%= el.imagen ? el.imagen : 'img_default.png' %>" alt=""><a href=""><%= el.username %></a></li>
                   <a href="/user/<%= el.id %>/edit"><button>Editar</button></a>
                   <form action="/user/<%= el.id %>/delete?_method=DELETE" method="POST">
                       <button type="submit">Eliminar</button>
                   </form>
                   <br>
                </ul>
            <% } %>
        <% }) %>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>