<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
    <title>Edit user</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

	<header class="main-header">
        <%- include('../partials/header-users') %>
    </header>

	<main class="main-signin">
	<div class="container-signin">
		<form action="/user/<%= user.id %>/edit?_method=PUT" method="POST" class="form-signin" enctype="multipart/form-data">
			<div class="fullname-signin">
				<label>Nombre Completo:</label>
  				<input type="text" name="fullname" class="control-signin" value="<%= user.fullname %>">
			</div>
			<div class="email-signin">
				<label>Email:</label>
  				<input type="mail" name="email" class="control-signin" value="<%= user.email %>">
			</div>
			<div class="username-signin">
				<label>Username:</label>
  				<input type="text" name="username" class="control-signin" value="<%= user.username %>">
			</div>
			<div class="username-signin">
				<label>Imagen de perfil:</label>
  				<input type="hidden" name="old_userImg" class="control-signin" value="/images/fotosUsuario/<%= user.imagen %>">
  				<input type="file" name="userImg" class="control-signin">
			</div>
			<!-- <div class="password-signin">
				<label>Contraseña:</label>
  				<input type="password" name="password" class="control-signin">
			</div> -->
			<div>
				<label for=""><a href="/user/<%= user.id %>/changepassword">Olvidé mi contraseña</a></label>
			</div>
			<div class="account-signin">
				<input type="submit" value="Editar" class="button-signin">
			</div>

		</form>
	</div>
	</main>

	<footer>
	<%- include('../partials/footer.ejs') %>
    </footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>