<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Edit user</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

	<header class="main-header">
        <%- include('../partials/header-users') %>
    </header>

	<main class="main-signin">
	<div class="container-signin">
		<form action="/user/<%= user.id %>/edit?_method=PUT" method="POST" class="form-signin" enctype="multipart/form-data">
			<div class="fullname-signin">
				<label>Nombre Completo:</label>
  				<input type="text" name="fullname" class="control-signin" value="<%= user.fullname %>">
			</div>
			<div class="email-signin">
				<label>Email:</label>
  				<input type="mail" name="email" class="control-signin" value="<%= user.email %>">
			</div>
			<div class="username-signin">
				<label>Username:</label>
  				<input type="text" name="username" class="control-signin" value="<%= user.username %>">
			</div>
			<div class="username-signin">
				<label>Imagen de perfil:</label>
  				<input type="hidden" name="old_userImg" class="control-signin" value="/images/fotosUsuario/<%= user.imagen %>">
  				<input type="file" name="userImg" class="control-signin">
			</div>
			<div class="password-signin">
				<label>Contraseña:</label>
  				<input type="password" name="password" class="control-signin" value="<%= user.password %>">
			</div>
			<div class="account-signin">
				<input type="submit" value="Editar" class="button-signin">
			</div>

		</form>
	</div>
	</main>

	<footer>
	<%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>