<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>REVIVAL CLOTHING</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header class="main-header">
        <%- include('../partials/header') %>
    </header>
    <!-- <img src="images/conjunto5.jpg" alt="home-baner" class="imagen-header"> -->
    <img src="images/banner_pro.svg" alt="home-baner" class="imagen-header">

    <main>
        <h2 class="subtitulos-home">Marcas</h2>
        <section class="contenedor-section">
            <% productos.forEach((producto) => { %>
            <article class="contenedor-article">
                <a href="/detalle/<%= producto.id %>"> <!-- Agrega el enlace al detalle del producto -->
                    <img src="<%= producto.imagen %>" class="imagen-producto">
                    <div class="contenedor-descripcion">
                        <p class="logo-eco"><img src="images/hanger-line.png"></p> <!-- animacion con logo de envio -->
                        <p class="precio">$<%= producto.precio %></p>
                        <h4 class="descripcion"><%= producto.titulo %></h4>
                    </div>
                </a>
            </article>
            <% }) %>
        </section>

        <h2 class="subtitulos-home">Destacados</h2>
        <section class="contenedor-section">
            <% productos.forEach((producto) => { %>
            <article class="contenedor-article">
                <a href="/detalle/<%= producto.id %>"> <!-- Agrega el enlace al detalle del producto -->
                    <img src="<%= producto.imagen %>" class="imagen-producto">
                    <div class="contenedor-descripcion">
                        <p class="logo-eco"><img src="images/hanger-line.png"></p>
                        <p class="precio">$<%= producto.precio %></p>
                        <h4 class="descripcion"><%= producto.titulo %></h4>
                    </div>
                </a>
            </article>
            <% }) %>
        </section>

        <h2 class="subtitulos-home">Nuevos lanzamientos</h2>
        <section class="contenedor-section">
            <% productos.forEach((producto) => { %>
            <article class="contenedor-article">
                <a href="/detalle/<%= producto.id %>"> <!-- Agrega el enlace al detalle del producto -->
                    <img src="<%= producto.imagen %>" class="imagen-producto">
                    <div class="contenedor-descripcion">
                        <p class="simbolo-ropa-home"><i class="fa-solid fa-shirt"></i></p>
                        <p class="simbolo-ropa-home"><i class="fa-solid fa-vest"></i></p>
                        <h3><%= producto.titulo %></h3>
                        <h3><%= producto.descripcion %></h3>
                    </div>
                </a>
            </article>
            <% }) %>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>
