<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head') %>
		<title>Edit Product</title>
		<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<header><%- include('../partials/header.ejs', {user: locals.user ? user : {}}) %></header>

	<main class="main-create">
		<section class="section-create">

			<% if (locals.errors){ errors.forEach(error=> {%>
				<p class="feedback-create">
					<%= error.msg %>
				</p>
				<% }) } %>

					<form class="form formulario-product" action="/products/<%=product.id%>/editar?_method=PUT" method="POST" 
						enctype="multipart/form-data">
						<p class="title">Edita tu producto </p>
						<p class="message">Cambia los campos que deseas modificar. </p>
	
						<label>
							<input required="" placeholder="" type="text" class="input formulario-product-name" name="title"
							value="<%=product.title%>">
							<span>Nombre del producto</span>
						</label>
						<span class="error-productName error-style"></span>
						<label>
							<select name="genre" id="" class="input" required="" placeholder="">
								<option value="hombre" <%= product.genre === 'hombre' ? 'selected' : '' %>>hombre</option>
								<option value="mujer" <%= product.genre === 'mujer' ? 'selected' : '' %>>mujer</option>
								<option value="unisex" <%= product.genre === 'unisex' ? 'selected' : '' %>>unisex</option>
							</select>
							<span>Genero</span>
						</label>
	
						<label>
							<select name="size" id="" class="input" required="" placeholder="">
								<option value="XS" <%= product.size === 'XS' ? 'selected' : '' %>>XS</option>
								<option value="S" <%= product.size === 'S' ? 'selected' : '' %>>S</option>
								<option value="M" <%= product.size === 'M' ? 'selected' : '' %>>M</option>
								<option value="L" <%= product.size === 'L' ? 'selected' : '' %>>L</option>
								<option value="XL" <%= product.size === 'XL' ? 'selected' : '' %>>XL</option>
								<option value="XXL" <%= product.size === 'XXL' ? 'selected' : '' %>>XXL</option>
							</select>
							<span>Talla</span>
						</label>
	
						<label>
							<input required="" placeholder="" type="number" class="input"
							value="<%=product.price%>" name="price">
							<span>Precio</span>
						</label>
	
						<label>
							<input required="" placeholder="" type="text" class="input formulario-product-description" name="description"
							value="<%=product.description%>">
							<span>Descripción</span>
						</label>

					<span class="error-productDescription error-style"></span>

	
						<div class="container">
							<div class="header">
								<img class="foto-detalle-into" src="/images/fotosProducto/<%= product.image%>" alt="">
							</div>
							<label for="file" class="footer">
								<svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
									<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
									<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
									<g id="SVGRepo_iconCarrier">
										<path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
										<path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
									</g>
								</svg>
								<p>Not selected file</p>
								<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
									<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
									<g id="SVGRepo_iconCarrier">
										<path
											d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z"
											stroke="#000000" stroke-width="2"></path>
										<path d="M19.5 5H4.5" stroke="#000000" stroke-width="2" stroke-linecap="round">
										</path>
										<path d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z"
											stroke="#000000" stroke-width="2"></path>
									</g>
								</svg>
							</label>
							<input type="hidden" name="old_productImg" id="imgFile" value="/images/fotosProducto/<%= product.image%>"  />
							<input id="file" type="file" name="imgFile" class="formulario-product-image">
						</div>
						<span class="error-productImage error-style"></span>

						<button class="submit" type="submit">Crear producto</button>
					</form>
		</section>
	</main>

	<%- include('../partials/footer.ejs') %>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
			crossorigin="anonymous"></script>
		<script src="/js/productsValidation.js"></script>
	
</body>

</html>